<tr>
  <td class="contentHead" colspan="3" align="center"><span class="fontBold">[head]</span></td>
</tr>
<tr>
  <td class="contentMainTop" colspan="7" align="center">
  <form name="kalender" action="" method="post" onsubmit="return(DZCP.submitButton())">
    <select name="monat" class="dropdown">[monate]</select>
    <select name="jahr" class="dropdown">[jahr]</select>
    <input id="contentSubmit" type="submit" value="[what]" class="submit" />
  </form>
  </td>
</tr>

  
 [show]

<tr>
  <td class="contentBottom" colspan="3">
    [foot]
  </td>
</tr>