      <tr align="center">
        <td class="contentMainFirst" colspan="2"><input name="show" class="submit" onclick="DZCP.goTo('index.php?action=toplist')" value="[top]" /></td>
      </tr>
      <tr align="center">
        <td class="contentMainFirst" colspan="2"><input name="show" class="submit" onclick="DZCP.goTo('index.php?action=floplist')" value="[flop]" /></td>
      </tr>

      <tr align="center">
        <td class="contentMainFirst" colspan="2"><input name="show" class="submit" onclick="DZCP.goTo('index.php?action=archiv')" value="[archiv]" /></td>
      </tr>

      <tr align="center">
        <td class="contentMainFirst" colspan="2"><input name="show" class="submit" onclick="DZCP.goTo('index.php?action=insert')" value="[insert]" /></td>
      </tr>
